$line = #ddd
$pad = 15px
$accent = #1af - 30% - 7deg
$gray = #808890
$silver = #BDC3C7
$midnight = #2C3E50 - 20%
$black = #404040
$xblack = #111

$toolbar-width = 80px
$heading-height = 50px

@import 'nib'
@require './utils/*'
@require './base/*'
@require './components/*'
@require './layouts/*'
