@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
ion-font()

*
  box-sizing: border-box

html
  font-size: 14px
  color: $black

body, td, textarea, input
  line-height: 1.5
  font-family: 'source sans pro', sans-serif
  font-size: 1em

html, body
  overflow: hidden
