@import url('http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css')

*
  box-sizing: border-box

html
  font-size: 14px
  color: #333

body, td, textarea, input
  line-height: 1.5
  font-family: source sans pro, sans-serif
  font-size: 1em
