doctype html
html
  head
    meta(charset='utf-8')
    title News reader
    link(rel='stylesheet' href='app.css')
    meta(name='viewport' content='width=device-width')
    script(src='//cdn.rawgit.com/visionmedia/page.js/1.4.1/page.js')
    script(src='//zeptojs.com/zepto.min.js')
    script(src='//cdn.rawgit.com/rstacruz/nprogress/v0.1.3/nprogress.js')
    link(rel='stylesheet' href='//cdn.rawgit.com/rstacruz/nprogress/v0.1.3/nprogress.css')
    script(src='app.js')

  body
    .all
      // Toolbar
      .app-toolbar
        .item
          a.app-icon(href='')
            | N
        .item
          a.toolbar-button.one.selected(href='')
            i.icon
            span Home
        .item
          a.toolbar-button.two(href='')
            i.icon
            span Top
        .item
          a.toolbar-button.three(href='')
            i.icon
            span All
        .item
          a.toolbar-button.four(href='')
            i.icon
            span Messages

      .news-pane
        // Head
        .news-head
          h1 Top stories
          .actions
            a.search(href='')

        // Sidebar
        .news-listing
          mixin item(i, headline)
            .news-item
              span.number= i
              h2
                a(href='/article/'+i id='link-'+i)= headline
              p Submitted by anonymous
              p 4h ago · 8 comments
              .actions
                a.comments(href='/article/'+i)

          +item(1, "Mars rover mistakenly lands on Venus instead")
          +item(2, "The strong snake shouted, the bland shape smiled")
          +item(3, "Eagles shouldn't test, a queen fought")
          +item(4, "A coyote is crying, the violet snail has someone")
          +item(5, "A rotten insertion spoke the soft snail to the force of nature")
          +item(6, "The busy coffee is visiting, revolting dolphins shouldn't meet")
          +item(7, "Nothing is following, mediators must give them to them")
          +item(8, "Aviators speak chickens to them")
          +item(9, "Cubes are changing us to themselves")

      // Main content area
      .content-pane
        .content-head
          a.back-button(href='')
        .content-area
          .article-heading
            .container
              h1(data-bind='article-title')
                | Mars rover mistakenly lands on Venus instead
              p.domain
                | news.time.com
              p.details
                Submitted by anonymous 8h ago

          .article-comments
            .container
              mixin comment(user, comment)
                .comment-item
                  h4
                    strong= user
                    em 24h ago
                  p= comment

              +comment("leeroyjenkins", "The shape wasn't negative or the wonderful picture. Thrice, twice, they were themselves. The time of day was changing nothing to her yesterday. An eagle is wooden or the rhyme and reason. An African flamingo will have him tomorrow until she will be nicely light. She will run heavily. We will be sharply guilty.")
              +comment("rstacruz", "She wasn't Romanian. A city can't speak itself to the vehicle until a horizontal park. He won't be allowing something for herself, and then she will be heavily impressive and mauve. Nicely, next to a guilty mongoose, because of something, a calling of the wild is herself.")
              +comment("username", "The Czech dolphin has her. The piece will be himself, however, the tired aardvark will be running. They will have oranges while they will get tomorrow. She allowed the salty light to you over the bottom of the ocean. Often, a light will give the arrangement for a bad coyote.")
              +comment("username", "On a day of the week, we will be later red. It will be steady early. Since a sleepy mouse, of the crazy dominator, they should pull sharply, then a tame butterfly is massively impressive. Once, it is last uneven. Eventually, he will be smooth above and beyond a cold shoulder.")
              +comment("username", "The bottom of the ocean was meeting definitely. She was not prickly of something since they were not only. He wasn't regularly the mauve appointment, however, they were not sharply inverted. They can't stand twice, and then the communication is her. The pessimistic aardvark will be blue. Of a gerbil, a deep blue sea will be an eagle, but a bottom of the ocean gave someone to me tomorrow.")
              +comment("username", "Now, a sour eel smiled while the crow is not the mongoose. With nothing, we will speak everything for rhymes and reasons. The super goose was last Chinese. The bottom of the ocean allowed the government agency to the judgement day.")

    script.
      require('js/routes')
