/*
 * layout, abs style
 */

____.all
  .app-toolbar
    abs: 0 auto 0 0
    width: $toolbar-width

  .news-pane
    abs: 0 auto 0 $toolbar-width
    width: 300px

  .news-head
    abs: 0 0 auto 0

  .news-listing
    abs: 50px 0 0 0
   
  .content-pane
    abs: 0 0 0 (300px + $toolbar-width)

/*
 * layout, flexbox style
 */

.all
  display: flex
  abs: 0 0 0 0

  &
    .news-pane
      display: flex
      flex-direction: column

    .news-head
      flex: 0 0 50px

    .news-listing
      flex: 1 0

  // desktop
  @media (min-width: 768px)
    .app-toolbar
      flex: 0 0 $toolbar-width

    .news-pane
      flex: 1 1 30%
      min-width: 200px
      max-width: 300px

    .content-pane
      flex: 1 0 70%

  // mobile
  @media (max-width: 768px)
    &
      flex-direction: column

    .news-pane, .content-pane
      flex: 1 1 80%
      order: 0

    .app-toolbar
      flex: 0 0 $toolbar-width
      height: $toolbar-width
      order: 1

  // switching only on mobile
  @media (max-width: 768px)
    &.on-news
      .content-pane
        display: none

    &.on-content
      .news-pane
        display: none
