.toolbar-button
  &
    padding: 15px 0
    display: inline-block
    text-align: center
    text-decoration: none
    color: white

  .icon:before
    ion-icon('ios7-albums-outline')
    font-size: 32px
    color: #a0b0c0

  &:hover .icon:before
    color: mix($accent, white, 50%)

  &.selected .icon:before
    color: white

  span
    display: block
    text-align: center
    display: none

  &.one
    .icon:before
      ion-icon('ios7-settings')
  &.three
    .icon:before
      ion-icon('ios7-person-outline')
  &.four
    .icon:before
      ion-icon('ios7-pie-outline')
